{{input type="text" class="login-input--username" placeholder="Username" value=username}}
{{input type="password" class="login-input--password" placeholder="Password" value=password}}

<button class="login-submit">Submit</button>
